.container{
    border-style: solid;
    border-color: rgb(255, 0, 0);
    border-width: 2px;
    border-radius: 30px;
}
.card{
    min-width: 175x;
    border-width: 2px;
    border-radius: 30px;
    
}