


.navbar {
    padding: 1px 20px;
}

.navbar-brand {
    padding: 1px 0 0 0;
}

#date {
    padding: 0;
}

.jumbotron {
    background-color: rgb(236, 236, 236);
    padding-left: 10px;
    padding-right: 20px;
}

#weather {
    padding-top: 3rem;
    background-color: none;
}

#historySection {
      padding: 0;
      background-color: none;
    }

#newsSection {
      padding: 0;
    }

    
.card-header {
    background-color: none;
    font-size: larger;
    font-weight: 400;
}

.row {
    padding: 5px 20px;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.637);
}

#date {
margin: 15px;
}

.card {
    background-color: cornflowerblue;
    border-style: solid;
    border-radius: 30px;
    border-color: cornflowerblue;    
    box-shadow: rgb(64, 100, 167) 0 0 3px 2px;
    min-width: 10rem;
    max-width: 25rem;
    margin-right: 2rem;
    padding: -10px !important;
}

.card-body {
    min-width: 10rem;
    margin-right: 2rem;
    padding: -10px !important;
}


ul {
    list-style-type: none;
    margin-bottom: 1rem;
    padding-left: 3px;
    padding-right: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
 

@media only screen and (max-width: 1200px) {
    #cityName {
        text-align: center;
    }
    .no-height {
        line-height: 1em;

    }

}
@media only screen and (max-width: 575px) {
    .navbar {
        float: none;
        vertical-align: top;
        justify-content: center;
    }   
}

